@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");

.header {
  font-family: "Kaushan Script", cursive;
  color: rgb(219, 109, 109);
  text-align: center;
  padding: 40px 80px 0px 80px;
}

.container {
  background-color: rgb(255, 253, 253);
  text-align: center;
  display: flex;
  flex-direction: column;
}

.nav li {
  display: inline-block;
  margin: 0px 20px 0px 20px;

  text-decoration: none;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(73, 73, 66);
}

.nav-focus p {
  margin: 0;
}

.discription p {
  margin: 0;
}

.title {
  text-align: center;
  margin: 0 auto;
  font-size: 65px;
}

.photo-profile {
  align-content: center;
  border-radius: 50%;
  padding: 5em;
}

.nav-focus:hover {
  background: rgb(255, 253, 253);
  cursor: pointer;
  color: #a8a8a8;
}

.nav-focus:active {
  background: rgb(255, 253, 253);
  color: #a8a8a8;
}

.dis-head {
  font-family: "Ubuntu", sans-serif;
  font-size: 35px;
}

.dis-body {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
}

.name-color {
  color: rgb(9, 184, 184);
}

.footer {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  text-decoration: none;
}

.fab {
  color: #a8a8a8;
  text-decoration: none;
}

.fas {
  color: #a8a8a8;
  text-decoration: none;
}

footer {
  padding: 12px 0;
  margin: 0 auto;
  word-spacing: 20px;
}

a {
  text-decoration: none;
}
